$dark: #2F3148;
$dark2:#3F5576;
$accent1: #8689AC;
$accent2: #587099;
$gold:gold;

$grey: #cacbdc;

// font-family: 'Lato', sans-serif;
// font-family: 'Roboto Slab', serif;
$text-accent: 'Roboto Slab', serif;
$text-base:'Lato', sans-serif;